# .github/workflows/maven.yml
name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 20
      uses: actions/setup-java@v4
      with:
        java-version: '20'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: >
        mvn -B install:install-file -Dfile=libs/PluginAPI.jar -DgroupId=net.risingworld -DartifactId=PluginAPI -Dversion=1.0.0 -Dpackaging=jar &&
        mvn -B package --file pom.xml
