name: Java CI with Maven

on:
  push:
    branches: ["master"]
    tags:
      - "v*"
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Extract version from tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION="${GITHUB_REF##*/}"   # v1.2.3
          VERSION="${VERSION#v}"        # 1.2.3

          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Update pom.xml version
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          sed -i "s|<version>.*</version>|<version>${VERSION}</version>|" pom.xml

      - name: Update plugin.yml version
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          sed -i "s|version: .*|version: ${VERSION}|" src/resources/plugin.yml

      - name: Set up JDK 20
        uses: actions/setup-java@v4
        with:
          java-version: "20"
          distribution: "temurin"
          cache: maven

      - name: Install Rising World PluginAPI locally
        run: >
          mvn -U -B install:install-file
          -Dfile=libs/PluginAPI.jar
          -DgroupId=net.risingworld
          -DartifactId=PluginAPI
          -Dversion=1.0.0
          -Dpackaging=jar

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      # upload only when building a tag
      - name: Upload ZIP artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: plugin-zip
          path: dist/*.zip

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: plugin-zip
          path: .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.zip"
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
